.authorizate {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  position: relative;
  padding: 20px 20px 20px;
  width: 310px;
  height: 150px;
  background: #818080;
  border-radius: 3px;
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.login h1 {
  margin: -20px -20px 21px -20px;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(250, 250, 250);
  text-align: center;
  background: #696969;
}
.login p {
  margin: 20px 0 0;
}

.login input[type='text'] {
  width: 278px;
  color: rgb(90, 90, 90);
}
.login p.remember_me {
  float: left;
  line-height: 31px;
}
.login p.remember_me label {
  font-size: 12px;
  color: rgb(250, 250, 250);
  cursor: pointer;
}
.login p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}
.login p.submit {
  text-align: right;
}

input {
  font-size: 14px;
}

input[type='text'] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
input[type='text']:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

input[type='submit'] {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #777777;
  background: #a8a8a8;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  outline: 0;
  box-sizing: content-box;
  background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}
input[type='submit']:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}
