@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.chat-room {
  width: 100%;
  height: 100%;
  display: flex;
}

.room {
  height: 100%;
  width: 40%;
  overflow: auto;
}

.room h1 {
  font-size: 25px;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  color: rgb(250, 250, 250);
  border-bottom: 10px double white;
}

.room h1:hover {
  cursor: default;
  user-select: none;
}

.room ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.room li {
  font-size: 25px;
  padding: 10px;
  box-sizing: border-box;
  color: rgb(250, 250, 250);
  border-bottom: 2px outset white;
}

.room li span {
  padding: 10px;
}

.room li:before {
  content: '';
  background-image: url(https://image.flaticon.com/icons/png/512/3211/3211532.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 18px;
  background-size: contain;
}

.room li:hover {
  cursor: default;
  background-color: rgb(96, 104, 104);
  user-select: none;
}

.chat {
  height: 100%;
  width: 60%;
}

.chat-window {
  height: 90%;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
  color: white;
  word-wrap: break-word;
  background-color: #2e2c2c;
}

.chat-window p {
  font-size: 25px;
  margin: 0;
  opacity: 0;
  transition: 1s;
  animation: show 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

.chat-window p:hover {
  cursor: default;
  user-select: none;
}

.chat-window span {
  text-shadow: #e9e9e9 0px 3px 3px;
}

.message-window {
  width: 100%;
  height: 10%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

#msg_in {
  box-sizing: border-box;
  padding: 10px;
  color: white;
  border-radius: 10px;
  border: solid white 2px;
  width: 90%;
  height: auto;
  word-wrap: break-word;
  font-size: 25px;
  overflow-y: auto;
  overflow-x: hidden;
}

#msg_in[contentEditable='true']:empty:not(:focus):before {
  content: attr(data-text);
  color: #a2acb4;
  font-size: 25px;
  padding: 10px;
  position: sticky;
}

#msg_in:focus {
  outline: none;
}
#send_msg {
  position: relative;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  border: solid white 2px;
  background-image: url(https://img.icons8.com/material-outlined/48/000000/filled-sent.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 18px;
  background-size: contain;
  transition-duration: 0.4s;
}

#send_msg:hover {
  background-color: gray;
}

#send_msg:active {
  color: rgb(51, 51, 51);
  border: 1px solid rgb(204, 204, 204);
  background: rgb(238, 238, 238)
    linear-gradient(rgb(238, 238, 238), rgb(224, 224, 224));
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
